<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edu.hust.dao.JPBridgeDao">
    
    <select id="queryByUUID" resultType="cn.edu.hust.bean.JPBridge">
        select * from jp_bridge where uuid=#{uuid}
    </select>

    <insert id="insertJPBridge">
        insert into jp_bridge(uuid,inputMessage,responseMessage,solved)
        values(
               #{uuid},#{inputMessage},#{responseMessage},#{solved}
               )
    </insert>

    <update id="updateJPBridge">
        update jp_bridge
        set solved=#{solved}
        where uuid=#{uuid}
    </update>

</mapper>