<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hust.dao.UserDao">

	<select id="pageQueryData" resultType="cn.edu.hust.bean.User">
		select *
		from user
		<where>
			<if test="queryText !=null">
				and userName like concat('%',#{queryText},'%')
			</if>
		</where>
		limit #{start},#{size}
	</select>

	<select id="pageQueryCount" resultType="int">
		select count(*) from user
	    <where>
			<if test="queryText !=null">
				and username like concat('%',#{queryText},'%')
			</if>
		</where>
	
	</select>
 
  <insert id="insertUser">
      insert into user(userName,password)
      values(
        #{userName},#{password}
      )
  </insert>

<update id="updateUser">
    update user
    set nickname=#{nickname},password=#{password},email=#{email}
    where userId=#{userId}
</update>

<delete id="deleteUserById">
   delete from user
   where userId=#{userId}
</delete>
  <delete id="deleteusers">
    delete from user where userId in
    <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
        #{userId}
    </foreach>

  </delete>

</mapper>